<launch>
    <arg name="robot_name" default="echo"/>
    <group ns="$(arg robot_name)">
        <param name="tf_prefix" value="$(arg robot_name)"/>

        <node name="lidar_tf" pkg="tf" type="static_transform_publisher" args="0 0 0.3 0 0 0 base_link lidar 10"/>

        <node name="abridge" pkg="abridge" type="abridge">
            <param name="devicePath" value="/dev/swarmie/arduino"/>
            <param name="baudRate" value="115200"/>
            <param name="timerPeriod" value="0.1"/>
        </node>

        <node name="ekf" pkg="robot_localization" type="ekf_localization_node">
            <remap from="odometry/filtered" to="abridge/odom/filtered"/>
            <param name="frequency" value="10"/>
            <param name="two_d_mode" value="true"/>
            <param name="world_frame" value="odom"/>
            <param name="imu0" value="abridge/imu"/>
            <param name="odom0" value="abridge/odom"/>
            <rosparam param="imu0_config">[false, false, false,
                                           false, false, false,
                                           false, false, false,
                                           false, false, true,
                                           false, false, false]</rosparam>
            <rosparam param="odom0_config">[false, false, false,
                                            false, false, false,
                                            true, false, false,
                                            false, false, true,
                                            false, false, false]</rosparam>
        </node>
        <node name="lidar" pkg="sweep_ros" type="sweep_node">
            <param name="serial_port" value="/dev/swarmie/scanse"/>
            <param name="serial_baudrate" value="115200"/>
            <param name="frame_id" value="$(arg robot_name)/lidar"/>
            <param name="rotation_speed" value="10"/>
            <remap from="pc2" to="lidar/scan"/>
        </node>
    </group>
</launch>
